In [2]:
import pandas as pd

In [3]:
maDataFrame=pd.read_csv('Data/whickham.csv')

In [6]:
maDataFrame.head()

  outcome smoker  age
0   Alive    Yes   23
1   Alive    Yes   18
2    Dead    Yes   71
3   Alive     No   67
4   Alive     No   64

Ce jeu de données correspond à un sondage réalisé auprès d'un ensemble des femmes dans une ville en Angleterre. La variablesmoker rapporte si ces femmes fumaient ou pas. La variable age correspond à l'âge de ces femmes au moment de ce sondage.
Vingt ans plus tard, la variable outcome a été ajouté afin d'indiquer si ces femmes sont toujours vivantes ou pas.

In [9]:
pd.DataFrame(maDataFrame.smoker.value_counts())

     smoker
No      732
Yes     582

In [11]:
pd.DataFrame(maDataFrame.smoker.value_counts(normalize=True))

       smoker
No   0.557078
Yes  0.442922

In [10]:
maDataFrame.describe()

               age
count  1314.000000
mean     46.920091
std      17.432027
min      18.000000
25%      32.000000
50%      46.000000
75%      61.000000
max      84.000000

In [22]:
byFumeur=maDataFrame.groupby('smoker').outcome.value_counts(normalize=True)

In [23]:
byFumeur

smoker  outcome
No      Alive      0.685792
        Dead       0.314208
Yes     Alive      0.761168
        Dead       0.238832
Name: outcome, dtype: float64

In [24]:
byFumeur.unstack()

outcome     Alive      Dead
smoker
No       0.685792  0.314208
Yes      0.761168  0.238832

In [ ]:
#Créations des plages d'ages avec la fonction cut

In [25]:
maDataFrame['CatAge']=pd.cut(maDataFrame.age,[0,20,30,40,50,60,65,70,100],labels=['0-20','20-30','30-40','40-50','50-60','60-65','65-70','+70'])

In [26]:
maDataFrame

     outcome smoker  age CatAge
0      Alive    Yes   23  20-30
1      Alive    Yes   18   0-20
2       Dead    Yes   71    +70
3      Alive     No   67  65-70
4      Alive     No   64  60-65
...      ...    ...  ...    ...
1309   Alive    Yes   35  30-40
1310   Alive     No   33  30-40
1311   Alive    Yes   21  20-30
1312   Alive     No   46  40-50
1313   Alive    Yes   41  40-50

[1314 rows x 4 columns]

In [28]:
parAge=maDataFrame.groupby(['CatAge','smoker']).outcome.value_counts(normalize=True)

In [29]:
parAge

CatAge  smoker  outcome
0-20    No      Alive      0.966667
                Dead       0.033333
        Yes     Alive      0.958333
                Dead       0.041667
20-30   No      Alive      0.985185
                Dead       0.014815
        Yes     Alive      0.979798
                Dead       0.020202
30-40   No      Alive      0.955224
                Dead       0.044776
        Yes     Alive      0.940678
                Dead       0.059322
40-50   No      Alive      0.867470
                Dead       0.132530
        Yes     Alive      0.828125
                Dead       0.171875
50-60   No      Alive      0.722222
                Dead       0.277778
        Yes     Alive      0.616071
                Dead       0.383929
60-65   No      Alive      0.596774
                Dead       0.403226
        Yes     Alive      0.596154
                Dead       0.403846
65-70   No      Dead       0.758065
                Alive      0.241935
        Yes     Dead       0.812500
                Alive      0.187500
+70     No      Dead       0.915254
                Alive      0.084746
        Yes     Dead       0.909091
                Alive      0.090909
Name: outcome, dtype: float64

In [30]:
parAge.unstack()

outcome           Alive      Dead
CatAge smoker
0-20   No      0.966667  0.033333
       Yes     0.958333  0.041667
20-30  No      0.985185  0.014815
       Yes     0.979798  0.020202
30-40  No      0.955224  0.044776
       Yes     0.940678  0.059322
40-50  No      0.867470  0.132530
       Yes     0.828125  0.171875
50-60  No      0.722222  0.277778
       Yes     0.616071  0.383929
60-65  No      0.596774  0.403226
       Yes     0.596154  0.403846
65-70  No      0.241935  0.758065
       Yes     0.187500  0.812500
+70    No      0.084746  0.915254
       Yes     0.090909  0.909091